// 修改组件库内部样式
.m-choose-icon-dialog-body-height {
  .el-dialog__body {
    height: 500px;
    overflow: scroll;
  }
}


.list-tabs__item {
  .el-tabs__nav {
    width: 100%;
  }

  .el-tabs__item {
    flex: 1;
    text-align: center;
    font-size: 18px;
  }
}